</div>
<footer class="footer">
	<div class="block_inner">
		<div class="left">
			<div class="logo">
				<a href="">
					<img src="files/logo-foot.png" alt="">
					<span>RESPUBLIKA OLIY T’ALIM KENGASHI</span>
				</a>
			</div>
			<div class="text">Portalda eʼlon qilingan materiallardan nusxa koʻchirish, tarqatish va boshqa shakllarda foydalanish faqat tahririyat yozma roziligi bilan amalga oshirilishi mumkin.</div>
		</div>
		<div class="right">
			<div class="title">biz bilan aloqa</div>
			<div class="phone">Ishonch telefoni: <span>9011</span></div>
			<div class="email">Elektron manzil: <a href="mailto:info@domain.com">info@domain.com</a></div>
		</div>
	</div>
</footer>
</div>
<script src="js/main.js" async></script>
</body>
</html>