include _header.jade
	<div class="about_block_wr">
		<div class="block_inner">
			<div class="title">kengash haqida</div>
			<div class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.</div>
		</div>
	</div>
	<div class="projects_block_wr">
		<div class="block_inner">
			<div class="title">loyihalar</div>
			<div class="inner">
				<div class="item">
					<div class="top">
						<div class="icon">
							<img src="files/proj1.svg" alt="">
						</div>
						<div class="name">rektorlar maktabi</div>
					</div>
					<div class="body">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</div>
				</div>
				<div class="item">
					<div class="top">
						<div class="icon">
							<img src="files/proj2.svg" alt="">
						</div>
						<div class="name">reyting</div>
					</div>
					<div class="body">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</div>
				</div>
				<div class="item">
					<div class="top">
						<div class="icon">
							<img src="files/proj3.svg" alt="">
						</div>
						<div class="name">tadqiqotlar</div>
					</div>
					<div class="body">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</div>
				</div>
				<div class="item">
					<div class="top">
						<div class="icon">
							<img src="files/proj4.svg" alt="">
						</div>
						<div class="name">akkreditatsiya</div>
					</div>
					<div class="body">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news_block_wr">
		<div class="block_inner">
			<div class="title">Yangiliklar</div>
			<div class="inner">
				<a href="" class="item">
					<span class="image">
						<img src="files/logo.png" alt="">
					</span>
					<span class="name">Respublika oliy ta'lim kengashi tashkil etilmoqda</span>
				</a>
				<a href="" class="item">
					<span class="image">
						<img src="files/logo.png" alt="">
					</span>
					<span class="name">Respublika oliy ta'lim kengashi tashkil etilmoqda</span>
				</a>
				<a href="" class="item">
					<span class="image">
						<img src="files/logo.png" alt="">
					</span>
					<span class="name">Respublika oliy ta'lim kengashi tashkil etilmoqda</span>
				</a>
			</div>
		</div>
	</div>
	<div class="partners_block_wr">
		<div class="block_inner">
			<div class="title">hamkorlar</div>
			<div class="inner">
				<a href="" class="item">
					<img src="files/logo.png" alt="">
				</a>
				<a href="" class="item">
					<img src="files/logo2.png" alt="">
				</a>
				<a href="" class="item">
					<img src="files/logo3.png" alt="">
				</a>
				<a href="" class="item">
					<img src="files/logo4.png" alt="">
				</a>
				<a href="" class="item">
					<img src="files/logo5.png" alt="">
				</a>
				<a href="" class="item">
					<img src="files/logo.png" alt="">
				</a>
			</div>
		</div>
	</div>
include _footer.jade