include _header_inner.jade
	<div class="content_main_wr">
		<div class="block_inner">
			<div class="title">Kengash a’zolari</div>
			<div class="members_item">
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<img src="files/memb.png" alt="">
					</div>
					<div class="right">
						<div class="name">abduraxmanov odil kalandarovich</div>
						<div class="body">O‘zbekiston prezidentining yoshlar, fan, ta’lim, sog‘liqni saqlash, madaniyat va sport masalalari bo‘yicha maslahatchisi</div>
						<div class="email">info@domain.uz</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade