include _header_inner.jade
	<div class="content_main_wr">
		<div class="block_inner">
			<div class="title">xalqaro hamkorlik</div>
			<div class="partners_item">
				<div class="item">
					<div class="left">
						<img src="files/part.png" alt="">
					</div>
					<div class="right">
						<div class="name">belorus respublika rektorlar kengashi</div>
						<div class="text">Республиканский совет ректоров учреждений высшего образования является высшим консультативным органом в системе высшего образования. Республиканский совет ректоров учреждений высшего образования является высшим консультативным органом в системе высшего образования.</div>
						<div class="link">
							<div class="link_partner">Подробнее</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="left">
						<img src="files/part.png" alt="">
					</div>
					<div class="right">
						<div class="name">belorus respublika rektorlar kengashi</div>
						<div class="text">Республиканский совет ректоров учреждений высшего образования является высшим консультативным органом в системе высшего образования. Республиканский совет ректоров учреждений высшего образования является высшим консультативным органом в системе высшего образования.</div>
						<div class="link">
							<div class="link_partner">Подробнее</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-popup-wrapper partners_popup">
		<div class="formExtraWrapper">
			<div class="close-form"></div>
			<div class="form-b">
				<div class="top">
					<div class="left"><img src="files/part.png" alt=""></div>
					<div class="right">
						<div class="name">belorus respublika rektorlar kengashi</div>
						<ul class="params">
							<li>yaratilgan sana: 08/02/2021</li>
							<li>rais: Bogush vadim anatolyevich</li>
						</ul>
					</div>
				</div>
				<div class="body">
					<p>Oliy ta'lim muassasalari rektorlarining respublika kengashi oliy ta'lim tizimidagi oliy maslahat organi hisoblanadi.</p>
					<p>Oliy ta'lim muassasalari rektorlari Respublika Kengashining vakolatlari va faoliyat tartibi "Oliy ta lim muassasalari rektorlari Respublika kengashi to'g'risidagi Nizomga"muvofiq belgilanadi.</p>
					<p>Oliy ta'lim, o'quv-tarbiya jarayonini takomillashtirish, ilm-fanni rivojlantirish va oliy maktabning moddiy-texnika bazasini takomillashtirish masalalari bo'yicha tavsiyalar ishlab chiqadi.</p>
					<p>Respublika davlat boshqaruvi organlari tomonidan amalga oshirilayotgan oliy ta'lim va ilmiy faoliyatni samarali boshqarishni ta'minlash, oliy ta'lim va fan sohasida moddiy va moliyaviy resurslardan foydalanish samaradorligini oshirishga, mutaxassislar tayyorlash sifatini oshirishga qaratilgan davlat siyosatini takomillashtirish va uni oliy ta'lim va fan sohasida amalga oshirish bo'yicha takliflar tayyorlaydi.</p>
				</div>
				<div class="contacts">
					<div class="item"><a href="tel:8 (0162) 123456">8 (0162) 123456</a></div>
					<div class="item"><a href="mailto:info@niks.by">info@niks.by</a></div>
					<div class="item"><a href="srrb.niks.by">srrb.niks.by</a></div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade