include _header_inner.jade
	<div class="content_main_wr">
		<div class="block_inner">
			<div class="title">rektorlar kengashi</div>
			<div class="inner">
				<p><b>Ushbu bo'lim ishlab chiqilmoqda.</b></p>
				<p>Hurmatli saytga tashrif buyuruvchilar, ushbu bo'lim ishlab chiqilmoqda, yaqin kelajakda biz uni ma'lumot bilan to'ldiramiz. Sizni qiziqtirgan barcha ma'lumotlarni 9011 raqamiga qo'ng'iroq qilib olishingiz mumkin.</p>
			</div>
		</div>
	</div>
include _footer.jade